<form [formGroup]="emissionForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'activityYear' | translate }}</mat-label>
    <input matInput formControlName="year" type="number" placeholder="Ejemplo: 2025">
    <mat-error *ngIf="emissionForm.get('year')?.hasError('required')">
      Este campo es obligatorio.
    </mat-error>
    <mat-error *ngIf="emissionForm.get('year')?.hasError('pattern')">
      Debe ser un año válido (4 dígitos).
    </mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>{{"electricalTrader" | translate}}</mat-label>
    <input matInput formControlName="nombreComercial" placeholder="Ejemplo: Empresa XYZ">
    <mat-error *ngIf="emissionForm.get('nombreComercial')?.hasError('required')">
      Este campo es obligatorio.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Emisión CO₂ (kg/kWh)</mat-label>
    <input matInput formControlName="kg_CO2_kWh" type="number" step="0.01">
    <mat-error *ngIf="emissionForm.get('kg_CO2_kWh')?.hasError('required')">
      Este campo es obligatorio.
    </mat-error>
    <mat-error *ngIf="emissionForm.get('kg_CO2_kWh')?.hasError('min')">
      Debe ser un número positivo.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="emissionForm.invalid">{{'register' | translate}}</button>
</form>

<section *ngIf="emissionForm.invalid && emissionForm.touched" class="error-container">
  <p>{{ 'formContainsErrorsShort' | translate }}:</p>
  <ul>
    <li *ngFor="let error of getFormErrors()">{{ error }}</li>
  </ul>
</section>


<app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>

