mat-card {
  width: 80%;
  padding: 1.1rem;
  margin: 1rem auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.emissions {
  display: grid;
  grid-template-columns: 50% 50%;
}

button {
  width: 100%;
  align-self: center; // Centrar el botón dentro del formulario
  margin-top: 1rem; // Agregar espacio encima del botón
}

.type-fuel-quantity {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem; // Espaciado entre los campos de "consumos"
}

.factor-group, .emissions-group {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1rem; // Espaciado entre los campos de "consumos"
}

.type-fuel-quantity {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1rem;
}
.gas-emission {
  font-size: 2rem;
  color: #000!important;
  font-weight: bolder;
  padding: 1rem;

}

.tnCo2eq {
  background-color: burlywood;
  width: 150px;
  border-radius: 1rem;
}

// Estilo adicional para el contenedor de consumos
[formGroupName="consumos"] {
  display: flex;
  gap: 1rem; // Espaciado entre los campos de "consumos"
  flex-wrap: wrap;

  mat-form-field {
    flex: 1 1 calc(50% - 1rem); // Dos columnas con espaciado
    min-width: 200px; // Ancho mínimo para mantener legibilidad
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  :host {
    height: auto;
  }

  mat-card {
    width: 100%;
  }
}