<mat-card>
<form [formGroup]="fuelForm" (ngSubmit)="onSubmit()">
  <section ngClass="type-fuel-quantity">
  <mat-form-field>
    <mat-label>Tipo de combustible</mat-label>
    <mat-select formControlName="fuelType" (selectionChange)="setEmissionFactors()">
      <mat-option *ngFor="let fuel of fuelTypes" [value]="fuel">{{ fuel.Combustible }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dato de actividad (ud)</mat-label>
    <input matInput type="number" formControlName="quantity" (change)="onQuantityChange()">
  </mat-form-field>
  </section>
  <h3>Factores de Emisión por gases</h3>
  <section formGroupName="defaultFactor" ngClass="factor-group">
      <mat-form-field>
        <mat-label>kg CO<sub>2</sub>/ud</mat-label>
        <input matInput type="number" formControlName="fe_co2">
      </mat-form-field>
      <mat-form-field>
        <mat-label>g CH<sub>4</sub>/ud</mat-label>
        <input matInput type="number" formControlName="fe_ch4">
      </mat-form-field>
      <mat-form-field>
        <mat-label>g N<sub>2</sub>O/ud</mat-label>
        <input matInput type="number" formControlName="fe_n2o">
      </mat-form-field>
  </section>
  <h3>Emisiones Parciales</h3>
  <section formGroupName="partialEmissions" ngClass="emissions-group">
      
      <mat-form-field>
        <mat-label>kg CO<sub>2</sub></mat-label>
        <input matInput type="number" formControlName="co2">
      </mat-form-field>
      <mat-form-field>
        <mat-label>g CH<sub>4</sub></mat-label>
        <input matInput type="number" formControlName="ch4">
      </mat-form-field>
      <mat-form-field>
        <mat-label>g N<sub>2</sub>O</mat-label>
        <input matInput type="number" formControlName="n2o">
      </mat-form-field>
  </section>

  <h3>Emisiones Totales (tnCO<sub>2</sub>eq) [CO<sub>2</sub>eq: CO<sub>2</sub>+CH<sub>4</sub>+N<sub>2</sub>O]</h3>
  <mat-form-field>
    <mat-label>(tnCO<sub>2</sub>eq)</mat-label>
    <input matInput type="number" formControlName="totalEmissions">
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" [disabled]="!fuelForm.valid">Registrar</button>
</form>
<app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>
</mat-card>