.gas-emission {
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem;

}

.tnCo2eq {
  background-color: #2F4F4F;
  color: #FFD700!important;
  border: 1px solid #000;
  width: 150px;
  border-radius: 1rem;
}

button {
  width: 100%;
  align-self: center; // Centrar el botón dentro del formulario
  margin-top: 1rem; // Agregar espacio encima del botón
}


// Opcional: Estilos personalizados para el estado de error
mat-error {
  color: #d32f2f; // Color rojo para mensajes de error
  font-size: 0.875rem;
}

// Estilo adicional para el contenedor de consumos
[formGroupName="consumos"] {
  display: flex;
  gap: 1rem; // Espaciado entre los campos de "consumos"
  flex-wrap: wrap;

  mat-form-field {
    flex: 1 1 calc(50% - 1rem); // Dos columnas con espaciado
    min-width: 200px; // Ancho mínimo para mantener legibilidad
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  :host {
    height: auto;
  }

  .periode-fuel-quantity {
    grid-template-columns: 100%;
  }

  mat-card {
    width: 100%;
  }
}