<mat-card>
  <mat-card-title><button mat-menu-item (click)="openDialog()">
    <mat-icon style="color: #ff9310;">info</mat-icon>{{"electricityOtherEnergies" | translate}}</button> </mat-card-title>  
<form [formGroup]="consumoForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Delegación</mat-label>
    <input matInput formControlName="delegacion" placeholder="Ejemplo: Zona Norte">
    <mat-error *ngIf="consumoForm.get('delegacion')?.hasError('required')">Este campo es obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Periodo factura</mat-label>
    <mat-select formControlName="periodoFactura">
      <mat-option value="01">Enero</mat-option>
      <mat-option value="02">Febrero</mat-option>
      <mat-option value="03">Marzo</mat-option>
      <mat-option value="04">Abril</mat-option>
      <mat-option value="05">Mayo</mat-option>
      <mat-option value="06">Junio</mat-option>
      <mat-option value="07">Julio</mat-option>
      <mat-option value="08">Agosto</mat-option>
      <mat-option value="09">Setiembre</mat-option>
      <mat-option value="10">Octubre</mat-option>
      <mat-option value="11">Noviembre</mat-option>
      <mat-option value="12">Diciembre</mat-option>
    </mat-select>
  </mat-form-field>

  <div formGroupName="consumos">
    <mat-form-field appearance="fill">
      <mat-label>Comercializadora</mat-label>
      <mat-select formControlName="comercializadora">
        <mat-option value="01">AB ENERGÍA 1903 SL</mat-option>
        <mat-option value="02">ACCIONA GREEN ENERGY DEVELOPEMENTS SL</mat-option>
        <mat-option value="03">ACENHOL ENERGÍA SL</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>¿Dispone de garantía de origen (Gdo) </mat-label>
      <mat-select formControlName="gdo">
        <mat-option value="0.000">Gdo energía renovable</mat-option>
        <mat-option value="0.302">Gdo cogeneración de alta eficiencia</mat-option>
        <mat-option value="1.000">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Dato de consumo (kWh)</mat-label>
      <input matInput formControlName="costo" type="number">
      <section *ngIf="consumoForm.get('costo')?.invalid && consumoForm.get('costo')?.touched">
        <small>Por favor, ingresa un número de dos dígitos.</small>
      </section>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit"  [disabled]="consumoForm.invalid">Registrar</button>
</form>
</mat-card>
<app-data-table [columns]="['delegation', 'year', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', 'edit', 'delete']" [data]="data"></app-data-table>