<h1>RAGE</h1>
<section>
  <button mat-raised-button (click)="switchLanguage('en')">English</button>
  <button mat-raised-button (click)="switchLanguage('es')">Español</button>
</section>

<button mat-raised-button [matMenuTriggerFor]="aboveMenu">Above</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-raised-button color="primary">Item 1</button>
  <button mat-raised-button>Item 2</button>
</mat-menu>

<button mat-raised-button [matMenuTriggerFor]="belowMenu">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-raised-button>Item 1</button>
  <button mat-raised-button>Item 2</button>
</mat-menu>

<button mat-raised-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-raised-button>Item 1</button>
  <button mat-raised-button>Item 2</button>
</mat-menu>


<button mat-raised-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-raised-button>Item 1</button>
  <button mat-raised-button>Item 2</button>
</mat-menu>
