<h1><button mat-menu-item (click)="openDialog(11)"><mat-icon style="color: #0a470d;">info</mat-icon>{{"emissionFactorMaintenance" | translate}}</button></h1>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selectedTabIndexFE" (selectedIndexChange)="onTabChange($event)">


  <mat-tab label="{{'fuelEmissionsFixedInst' | translate}}">
    <button mat-menu-item (click)="openDialog(12)">
      <mat-icon style="color: #ff9310;">info</mat-icon>{{"fuelEmissionsFixedInst" | translate}}</button>
      <app-fuel-emission-factor-maintenance></app-fuel-emission-factor-maintenance>
  </mat-tab>

  <mat-tab label="{{'fuelEmissionsRailSeaAir' | translate}}">
    <button mat-menu-item (click)="openDialog(13)">
    <mat-icon style="color: #ff9310;">info</mat-icon>{{"fuelEmissionsRailSeaAir" | translate}}</button>
    <app-fuel-transfermaraer-emission-factor-maintenance></app-fuel-transfermaraer-emission-factor-maintenance>
  </mat-tab>

  <mat-tab label="{{'electricalEmissions' | translate}}">
    <button mat-menu-item (click)="openDialog(14)"> 
    <mat-icon style="color: #ff9310;">info</mat-icon>{{"electricalEmissions" | translate}}</button>
    <app-electrical-traders-emission-factor-maintenance></app-electrical-traders-emission-factor-maintenance>
  </mat-tab>

  <mat-tab label="{{'fugitiveEmissions' | translate}}">
    <button mat-menu-item (click)="openDialog(15)"> 
    <mat-icon style="color: #ff9310;">info</mat-icon>{{"fugitiveEmissions" | translate}}</button>
    <app-fugitive-emission-factor-maintenance></app-fugitive-emission-factor-maintenance>
  </mat-tab>

  <mat-tab label="{{'vehicleEmissions' | translate}}">
    <button mat-menu-item (click)="openDialog(16)">
      <mat-icon style="color: #ff9310;">info</mat-icon>{{"vehicleEmissions" | translate}}</button>
      <app-data-table></app-data-table>
  </mat-tab>

  <mat-tab label="{{'machineryEmissions' | translate}}">
    <button mat-menu-item (click)="openDialog(17)">
      <mat-icon style="color: #ff9310;">info</mat-icon>{{"machineryEmissions" | translate}}</button>
      <app-data-table></app-data-table>
  </mat-tab>
</mat-tab-group>
<section *ngIf="cargando" ngClass="spinner-container">
  <mat-spinner></mat-spinner>
</section>
