<section class="mat-elevation-z8">
  <mat-form-field appearance="fill">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Columnas dinámicas -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
      <td mat-cell *matCellDef="let element">
        <section [ngSwitch]="column">
          <div *ngSwitchCase="'edit'">
            <button *ngIf="element[column]"><mat-icon>border_color</mat-icon></button>
          </div>
          <div *ngSwitchCase="'delete'">
            <button *ngIf="element[column]"><mat-icon>delete</mat-icon></button>
          </div>
          <div *ngSwitchDefault>{{ element[column] }}</div>
        </section>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</section>
