<mat-card ngClass="form-card">
  <form [formGroup]="transportForm" (ngSubmit)="onSubmit()">
    <section ngClass="form-row"> 
      <!-- Edificio / Sede -->
          <mat-form-field appearance="fill">
            <mat-label>Año de cálculo</mat-label>
           <input matInput formControlName="activityYear" placeholder="Ejemplo: 2023">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Centro de producción</mat-label>
            <input matInput formControlName="productionCenter" placeholder="Ejemplo: Zona Norte">
          </mat-form-field>
  
      <!-- Tipo de transporte -->
      <mat-form-field appearance="fill">
        <mat-label>Tipo de transporte</mat-label>
        <mat-select formControlName="transportType">
          <mat-option value="01">Transporte ferroviario</mat-option>
          <mat-option value="02">Transporte marítimo</mat-option>
          <mat-option value="03">Transporte aéreo</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Tipo de Combustible -->
      <mat-form-field appearance="fill">
        <mat-label>Tipo de Combustible</mat-label>
        <input matInput formControlName="fuelType" />
      </mat-form-field>
  
      <!-- Cantidad combustible (ud) -->
      <mat-form-field appearance="fill">
        <mat-label>Cantidad combustible (ud)</mat-label>
        <input matInput type="number" formControlName="fuelQuantity" (input)="calculateEmissions()" />
      </mat-form-field>
  
      <!-- Factores de emisión por defecto -->
      <section formGroupName="defaultEmissionFactor" ngClass="factor-group">
        <mat-form-field appearance="fill">
          <mat-label>kg CO₂/ud</mat-label>
          <input matInput type="number" formControlName="co2" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g CH₄/ud</mat-label>
          <input matInput type="number" formControlName="ch4" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g N₂O/ud</mat-label>
          <input matInput type="number" formControlName="n2o" />
        </mat-form-field>
      </section>
  
      <!-- Emisiones parciales -->
      <section formGroupName="partialEmissions" ngClass="emissions-group">
        <mat-form-field appearance="fill">
          <mat-label>kg CO₂</mat-label>
          <input matInput formControlName="co2"  />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g CH₄</mat-label>
          <input matInput formControlName="ch4"  />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g N₂O</mat-label>
          <input matInput formControlName="n2o"  />
        </mat-form-field>
      </section>
  
      <!-- Emisiones totales -->
      <mat-form-field appearance="fill">
        <mat-label>Emisiones Totales (tnCO<sub>2</sub>eq)</mat-label>
        <input matInput formControlName="totalEmissions"  />
      </mat-form-field>
    </section>
  
    <!-- Botones -->
    <section ngClass="form-actions">
      <button mat-raised-button color="accent" type="submit">Enviar</button>
    </section>
  </form>
</mat-card>
