<mat-card>
  <form [formGroup]="transportForm" (ngSubmit)="onSubmit()">
      <section ngClass="type-fuel-quantity">
      <!-- Tipo de transporte -->
      <mat-form-field appearance="fill">
        <mat-label>Tipo de transporte</mat-label>
        <mat-select formControlName="transportType" (selectionChange)="onTransportChange($event.value)">
          <mat-option value="Ferrocarril">Transporte ferroviario</mat-option>
          <mat-option value="Marítimo">Transporte marítimo</mat-option>
          <mat-option value="Aéreo">Transporte aéreo</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Tipo de Combustible -->
      <mat-form-field appearance="fill">
        <mat-label>Combustible</mat-label>
        <mat-select formControlName="fuelType"  (selectionChange)="setEmissionFactors()">
          <mat-option *ngFor="let fuelEmis of fuelEmisTypes" [value]="fuelEmis">{{ fuelEmis.Combustible }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Cantidad combustible (ud) -->
      <mat-form-field appearance="fill">
        <mat-label>Dato de actividad (ud)</mat-label>
        <input matInput type="number" formControlName="fuelQuantity" (change)="onQuantityChange()"/>
      </mat-form-field>
    </section>

      <!-- Factores de emisión por defecto -->
      <h3>Factores de Emisión por gases</h3>
      <section formGroupName="defaultEmissionFactor" ngClass="factor-group">
        <mat-form-field appearance="fill">
          <mat-label>kg CO₂/ud</mat-label>
          <input matInput type="number" formControlName="co2" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g CH₄/ud</mat-label>
          <input matInput type="number" formControlName="ch4" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g N₂O/ud</mat-label>
          <input matInput type="number" formControlName="n2o" />
        </mat-form-field>
      </section>
  
      <!-- Emisiones parciales -->
      <h3>Emisiones Parciales</h3>
      <section formGroupName="partialEmissions" ngClass="emissions-group">
        <mat-form-field appearance="fill">
          <mat-label>kg CO₂</mat-label>
          <input matInput formControlName="co2"  />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g CH₄</mat-label>
          <input matInput formControlName="ch4"  />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g N₂O</mat-label>
          <input matInput formControlName="n2o"  />
        </mat-form-field>
      </section>
  
      <!-- Emisiones totales -->
      <h3>Emisiones Totales (tnCO<sub>2</sub>eq) [CO<sub>2</sub>eq: CO<sub>2</sub>+CH<sub>4</sub>+N<sub>2</sub>O]</h3>
      <mat-form-field>
        <mat-label>(tnCO<sub>2</sub>eq)</mat-label>
        <input matInput formControlName="totalEmissions"  />
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" [disabled]="!transportForm.valid">Registrar</button>
  </form>
  <app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>
</mat-card>
