<form [formGroup]="vehiclesElectricity" (ngSubmit)="onSubmit()">

      <mat-card>
      <mat-card-content>      
        <mat-form-field *ngIf="showField">
          <mat-label>Año de cálculo</mat-label>
          <input matInput formControlName="activityYear" placeholder="Ejemplo: 2023">
        </mat-form-field>
        <mat-form-field *ngIf="showField">
          <mat-label>Centro de producción</mat-label>
          <input matInput formControlName="productionCenter" placeholder="Ejemplo: Zona Norte">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Periodo factura</mat-label>
          <mat-select formControlName="periodoFactura">
            <mat-option value="01">Enero</mat-option>
              <mat-option value="02">Febrero</mat-option>
              <mat-option value="03">Marzo</mat-option>
              <mat-option value="04">Abril</mat-option>
              <mat-option value="05">Mayo</mat-option>
              <mat-option value="06">Junio</mat-option>
              <mat-option value="07">Julio</mat-option>
              <mat-option value="08">Agosto</mat-option>
              <mat-option value="09">Setiembre</mat-option>
              <mat-option value="10">Octubre</mat-option>
              <mat-option value="11">Noviembre</mat-option>
              <mat-option value="12">Diciembre</mat-option>
          </mat-select>
        </mat-form-field>
        
          <section formGroupName="consumos">
            <mat-form-field appearance="fill">
              <mat-label>Comercializadora</mat-label>
              <mat-select formControlName="comercializadora">
                <mat-option value="01">AB ENERGÍA 1903 SL</mat-option>
                <mat-option value="02">ACCIONA GREEN ENERGY DEVELOPEMENTS SL</mat-option>
                <mat-option value="03">ACENHOL ENERGÍA SL</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>¿Dispone de garantía de origen (Gdo) </mat-label>
              <mat-select formControlName="gdo">
                <mat-option value="0.000">Gdo energía renovable</mat-option>
                <mat-option value="0.302">Gdo cogeneración de alta eficiencia</mat-option>
                <mat-option value="1.000">No</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Dato de consumo (kWh)</mat-label>
              <input matInput formControlName="activityData" type="text">
              <mat-error *ngIf="vehiclesElectricity.get('activityData')?.hasError('required')">
                {{ "Este campo es obligatorio" | translate }}
              </mat-error>
              <mat-error *ngIf="vehiclesElectricity.get('activityData')?.hasError('pattern')">
                {{ "El formato debe ser un número con hasta dos decimales" | translate }}
              </mat-error>
            </mat-form-field>
          </section>

          <mat-form-field class="full-width">
            <mat-label>Factor Mix eléct. (kg CO2e/kWh)</mat-label>
            <input matInput type="number" placeholder="Factor Mix eléctrico" formControlName="factorMixElectrico" />
            <mat-error *ngIf="vehiclesElectricity.get('factorMixElectrico')?.hasError('required')">
              Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="vehiclesElectricity.get('factorMixElectrico')?.hasError('min')">
              El factor debe ser mayor o igual a 0
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Emisiones Totales (tnCO<sub>2</sub>eq)</mat-label>
            <input matInput type="number" placeholder="Emisiones generadas" formControlName="emisionesCO2e" />
            <mat-error *ngIf="vehiclesElectricity.get('emisiones')?.hasError('required')">
              Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="vehiclesElectricity.get('emisiones')?.hasError('min')">
              Las emisiones deben ser mayor o igual a 0
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
  <button mat-raised-button color="primary" type="submit" [disabled]="vehiclesElectricity.invalid">Enviar</button>
</form>
<app-data-table></app-data-table>
