.gas-emission {
  font-size: 2rem;
  color: #000!important;
  font-weight: bolder;
  padding: 1rem;
  width: 150px;
  border-radius: 1rem;
  background-color: #f0f0f0;
}

.tnCo2eq {
  background-color: burlywood;

}

button {
  width: 100%;
  align-self: center; // Centrar el botón dentro del formulario
  margin-top: 1rem; // Agregar espacio encima del botón
}

.co2eqData {
  background-color: #45a049;
}

// Estilo adicional para el contenedor de consumos
[formGroupName="consumos"] {
  display: flex;
  gap: 1rem; // Espaciado entre los campos de "consumos"
  flex-wrap: wrap;

  mat-form-field {
    flex: 1 1 calc(50% - 1rem); // Dos columnas con espaciado
    min-width: 200px; // Ancho mínimo para mantener legibilidad
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  :host {
    height: auto;
  }

  mat-card {
    width: 100%;
  }
}