@use '../../styles.scss';

:host{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container{
    display: flex;
    flex-direction: column;
        h1{
            margin-bottom: 1rem;
            color: magenta;
           /*  color: mat-color($primary-palette); */
        }
}