@use '../../../styles.scss';

mat-card {
  width: 40%;
  min-height: 80vh;
  padding: 1.1rem;
  margin: 1rem auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  mat-card {
    width: 100%;
  }
}