<mat-card aria-label="Formulario de registro de organización">
  <form [formGroup]="organizationForm" (ngSubmit)="onSubmit()" aria-label="Formulario para ingresar datos de la organización">
    
    <mat-form-field appearance="fill">
      <mat-label>REF.</mat-label>
      <input matInput formControlName="id" aria-label="Referencia de la organización">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{'organizationName' | translate}}</mat-label>
      <input matInput formControlName="companyName" aria-label="Nombre de la organización">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CIF</mat-label>
      <input matInput formControlName="cif" minlength="9" maxlength="9" aria-label="Código de identificación fiscal (CIF)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{'organizationType' | translate}}</mat-label>
      <mat-select formControlName="organizationType" aria-label="Seleccionar tipo de organización">
        <mat-option *ngFor="let type of organizationTypes" [value]="type.id" aria-label="Tipo de organización">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sector</mat-label>
      <mat-select formControlName="cnae" aria-label="Seleccionar sector económico según CNAE">
        <mat-option *ngFor="let sector of sectors" [value]="sector.id" aria-label="Sector industrial">
          {{ sector.codigo }} - {{ sector.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <section ngClass="limites-organizacion" aria-label="Límites de la organización">
      <h4>{{'organizationLimits' | translate}}</h4>
      <mat-form-field appearance="fill">
        <mat-label>{{'electricalTrader' | translate}}</mat-label>
        <mat-select formControlName="comercializadora" multiple aria-label="Seleccionar comercializadora eléctrica">
          <mat-option *ngFor="let comercializadora of comercializadorasElectricas" [value]="comercializadora.id">
            {{ comercializadora.nombreComercial }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox (change)="onMultipleOrgChange($event)" formControlName="multipleProductionCenter" aria-label="Seleccionar si la organización tiene más de un centro de producción">
        {{'moreThanOneProdCenter' | translate}}
      </mat-checkbox>
      
      <section aria-label="Opciones adicionales">
        <mat-form-field appearance="fill">
          <mat-label>{{'selectThreeYears' | translate}}</mat-label>
          <mat-select multiple formControlName="activityYear" aria-label="Seleccionar años de cálculo de huella de carbono">
            <mat-option *ngFor="let year of availableYears" [value]="year" aria-label="Año de actividad">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </section>

    <mat-form-field appearance="fill">
      <mat-label>{{'zipCode' | translate}}</mat-label>
      <input matInput formControlName="zipCode" minlength="5" maxlength="5" aria-label="Código postal">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{'emailUserAdmin' | translate}}</mat-label>
      <input matInput formControlName="email" aria-label="Correo electrónico del administrador">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{'passwordDuration' | translate}}</mat-label>
      <mat-select formControlName="daysPasswordDuration" aria-label="Duración de la contraseña en {{'zipCode' | translate}}">
        <mat-option value="30">30 {{'days' | translate}}</mat-option>
        <mat-option value="45">45 {{'days' | translate}}</mat-option>
        <mat-option value="60">60 {{'days' | translate}}</mat-option>
        <mat-option value="75">75 {{'days' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="organizationForm.invalid" aria-label="Enviar formulario">{{'register' | translate}}</button>
  </form>

  <section *ngIf="mustShowDelegations" aria-label="Tabla de delegaciones">
    <app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>
  </section>
</mat-card>
