<mat-card>
<form [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>REF.</mat-label>
    <input matInput formControlName="id">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="companyName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>cif</mat-label>
    <input matInput formControlName="cif" minlength="9" maxlength="9">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo de organización</mat-label>
    <mat-select formControlName="organizationType">
      <mat-option *ngFor="let type of organizationTypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Sector</mat-label>
    <mat-select formControlName="cnae">
      <mat-option *ngFor="let sector of sectors" [value]="sector">
        {{ sector }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-label>Límites de la organización</mat-label>
  <mat-checkbox formControlName="multipleProductionCenter" (change)="onSelectionChange($event)">Multi-centro</mat-checkbox>
  <mat-label>Está activa?</mat-label>
  <mat-checkbox formControlName="activa" (change)="onSelectionChange($event)">Sí</mat-checkbox>
  
  <mat-form-field appearance="fill">
    <mat-label>zipCode</mat-label>
    <input matInput formControlName="zipCode" minlength="9" maxlength="9">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>created_at</mat-label>
    <input matInput formControlName="created_at">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>updated_at</mat-label>
    <input matInput formControlName="updated_at">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>deleted_at</mat-label>
    <input matInput formControlName="deleted_at">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="organizationForm.invalid">Enviar</button>
</form>
</mat-card>
<section  *ngIf="mustShowDelegations">
  <button mat-raised-button color="accent">ADD PRODUCTION CENTER</button>
  <app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>
</section>
