<!-- Filtro por activityYear al inicio -->
<section>
  <h2>{{ 'filter_by_year' | translate }}</h2>
  <form [formGroup]="filterForm">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'activityYear' | translate }}</mat-label>
      <mat-select id="activityYear" formControlName="activityYear" (selectionChange)="onYearFilterChange($event.value)">
        <mat-option *ngFor="let year of availableYears" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</section>

<h2 ngClass="scope1-title">{{'scope1' | translate}} {{'scope1_1' | translate}}</h2>
<section ngClass="scope1">
  <article ngClass="fixed">
    <canvas id="fixedInstChart"></canvas>
  </article>
  <article ngClass="road">
    <canvas id="roadTranspChart"></canvas>
  </article>
  <article ngClass="rail">
    <canvas id="railSeaAirChart"></canvas>
  </article>
  <article ngClass="machinery">
    <canvas id="machineryChart"></canvas>
  </article>
  <article ngClass="fugitive">
    <canvas id="fugitiveEmissChart"></canvas>
  </article>
  <article ngClass="scope1TableFI">
    <app-data-table [displayedColumns]="displayedColumnsScope1FI" [dataSource]="dataSourceScope1FixedEmis"></app-data-table>
  </article>
  <article ngClass="scope1TableRD">
    <app-data-table [displayedColumns]="displayedColumnsScope1RT" [dataSource]="dataSourceScope1RoadTransp"></app-data-table>
  </article>
  <article ngClass="scope1TableRA">
    <app-data-table [displayedColumns]="displayedColumnsScope1TransFerMarAe" [dataSource]="dataSourceScope1RailSeaAir"></app-data-table>
  </article>
  <article ngClass="scope1TableMA">
    <app-data-table [displayedColumns]="displayedColumnsScope1MA" [dataSource]="dataSourceScope1Machinery"></app-data-table>
  </article>
  <!-- <article ngClass="scope1TableFU">
    <app-data-table [displayedColumns]="displayedColumnsScope1RT" [dataSource]="dataSourceScope1FugitiveEmiss"></app-data-table>
  </article> -->
</section>

<h2 ngClass="scope2-title">{{'scope2' | translate}} {{'scope2_2' | translate}}</h2>
<section ngClass="scope2">
  <article ngClass="electricity" >
    <canvas id="electricityBuildings"></canvas>
  </article>
  <article ngClass="electricityVehicles">
    <canvas id="electricityVehicles"></canvas>
  </article>
  <article ngClass="heat" >
    <canvas id="heatSteamColdCompAir"></canvas>
  </article>
<!--   <article ngClass="scope2Table">
  <app-data-table [displayedColumns]="displayedColumnsScope2" [dataSource]="dataSourceScope1FixedEmis"></app-data-table>
  </article> -->
</section>