.scope1 {
  display: grid;
  grid-template-areas: 
  "fixedemissions scope1Table" 
  "road scope1Table"
  "rail scope1Table"
  "machinery ."
  "fugitive ."; // Tres columnas de igual ancho
  gap: 1rem; // Espaciado uniforme entre columnas y filas
  width: auto; // Ocupa todo el ancho del contenedor padre
  box-sizing: border-box; // Asegura un cálculo correcto del ancho
  margin: 1rem; // Espacio entre las dos secciones
  padding: 1rem; // Espacio interno para el contenido
  border-radius: 8px; // Bordes redondeados para un aspecto más suave
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra sutil para profundidad
  border: 1px solid #ccc; // Borde sutil para separación
  align-content: self-start;
  justify-content: self-start;
}

.fixed {
  grid-area: fixedemissions;
}
.road {
  grid-area: road;
}
.rail {
  grid-area: rail;  
}
.machinery {
  grid-area: machinery;
}
.fugitive {
  grid-area: fugitive;
}
.scope1Table {
  grid-area: scope1Table;
  align-self: start; // Asegura que scope1Table esté alineada en la parte superior de su contenedor
}

.scope2 {
  display: grid;
  grid-template-areas: "electricity scope2Table" 
  "electricityVehicle scope2Table"
  "heat scope2Table"; // Tres columnas de igual ancho
  gap: 1rem; // Espaciado uniforme entre columnas y filas
  width: auto; // Ocupa todo el ancho del contenedor padre
  box-sizing: border-box; // Asegura un cálculo correcto del ancho
  margin: 1rem; // Espacio entre las dos secciones
  padding: 1rem; // Espacio interno para el contenido
  border-radius: 8px; // Bordes redondeados para un aspecto más suave
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra sutil para profundidad
  border: 1px solid #ccc; // Borde sutil para separación
  align-items: start;
}
.electricity {
  grid-area: electricity;
}
.electricityVehicle {
  grid-area: electricityVehicle;
}
.heat {
  grid-area: heat;
}
.scope2Table {
  grid-area: scope2Table;
}

.scope1 article {
  background-color: #B0C4DE; /* Color principal para emisiones directas */
  padding: 16px;
  border-radius: 8px; /* Opcional: esquinas redondeadas */
}
.scope2 article {
  background-color: #ecdb79; /* Color sugerido para emisiones indirectas */
  padding: 16px;
  border-radius: 8px; /* Opcional: esquinas redondeadas */
}

.scope1-title {
  color: #B0C4DE;
}

.scope2-title {
  color: #ecdb79;
}

article {
  width: 100%; 
  max-width: 600px;
  height: auto;
  margin: auto;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .scope1, .scope2 {
    grid-template-columns: repeat(1, 1fr); // Una columna de ancho completo
    gap: 0.5rem; // Espaciado reducido entre columnas y filas
  }
  article {
    margin: auto;
    width: auto;
  }
  canvas {
    display: block; /* Asegura que el canvas sea tratado como un bloque */
    max-width: 90%; /* El ancho máximo será el del contenedor */
    height: auto; /* Ajusta la altura proporcionalmente */}
}