.scope1 {
  display: grid;
  grid-template-areas: 
  "fixedemissions scope1TableFI" 
  "road scope1TableRD"
  "rail scope1TableRA"
  "machinery scope1TableMA"
  "fugitive scope1TableFU";     // Tres columnas de igual ancho
  gap: 1rem;        // Espaciado uniforme entre columnas y filas
  width: auto;      // Ocupa todo el ancho del contenedor padre
  box-sizing: border-box; // Asegura un cálculo correcto del ancho
  margin: 1rem;     // Espacio entre las dos secciones
  padding: 1rem;    // Espacio interno para el contenido
  border-radius: 8px; // Bordes redondeados para un aspecto más suave
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra sutil para profundidad
  border: 1px solid #ccc; // Borde sutil para separación

  border: 1px solid #B0C4DE; // Borde sutil para separación
}

.fixed {
  grid-area: fixedemissions;
}
.road {
  grid-area: road;
}
.rail {
  grid-area: rail;  
}
.machinery {
  grid-area: machinery;
}
.fugitive {
  grid-area: fugitive;
}
.scope1TableFI {
  grid-area: scope1TableFI;
}
.scope1TableRD {
  grid-area: scope1TableRD;
}
.scope1TableRA {
  grid-area: scope1TableRA;
}
.scope1TableMA {
  grid-area: scope1TableMA;
}
.scope1TableFU {
  grid-area: scope1TableFU;
}
.scope2 {
  display: grid;
  grid-template-areas: "electricity scope2Table" 
  "electricityVehicle scope2Table"
  "heat scope2Table"; // Tres columnas de igual ancho
  gap: 1rem; // Espaciado uniforme entre columnas y filas
  width: auto; // Ocupa todo el ancho del contenedor padre
  box-sizing: border-box; // Asegura un cálculo correcto del ancho
  margin: 1rem; // Espacio entre las dos secciones
  padding: 1rem; // Espacio interno para el contenido
  border-radius: 8px; // Bordes redondeados para un aspecto más suave
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra sutil para profundidad
  border: 1px solid #ccc; // Borde sutil para separación
  align-items: start;
}
.electricity {
  grid-area: electricity;
}
.electricityVehicle {
  grid-area: electricityVehicle;
}
.heat {
  grid-area: heat;
}
.scope2Table {
  grid-area: scope2Table;
}

.scope1 {
  background-color: #B0C4DE; /* Color principal para emisiones directas */
  padding: 1rem;
  border-radius: .5rem; /* Opcional: esquinas redondeadas */
}
.scope2 {
  background-color: #ecdb79; /* Color sugerido para emisiones indirectas */
  padding: 1rem;
  border-radius: .5rem; /* Opcional: esquinas redondeadas */
}

.scope1-title {
  color: #B0C4DE;
}

.scope2-title {
  color: #ecdb79;
}

article {
  width: 100%; 
  max-width: 600px;
  height: auto;
  margin: auto;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .scope1 {
    grid-template-areas: 
    "fixedemissions" 
    "road"
    "rail"
    "machinery"
    "fugitive"
    "scope1Table"; // Tres columnas de igual ancho
  }
  .scope2 {
    grid-template-areas: 
    "electricity" 
    "electricityVehicle"
    "heat"
    "scope2Table"; // Tres columnas de igual ancho
  }
  
  article {
    margin: auto;
    width: auto;
  }
  canvas {
    display: block; /* Asegura que el canvas sea tratado como un bloque */
    max-width: 90%; /* El ancho máximo será el del contenedor */
    height: auto; /* Ajusta la altura proporcionalmente */}
}