<!-- <footer>
  <span>
    © 2025 {{"footerTitle" | translate}}
  </span>
  <button mat-menu-item (click)="openDialog('LA HUELLA DE CARBONO','La huella de carbono identifica la cantidad de emisiones de GEI que son liberadas a la atmósfera como   consecuencia del desarrollo de cualquier actividad; permite identificar todas las fuentes de emisiones de   GEI y establecer a partir de este conocimiento, medidas de reducción efectivas.')">
  <mat-icon style="color: #ff9310;">info</mat-icon>
  </button>
  <span>
    Huella de carbono = Dato Actividad x Factor Emisión
  </span>
 <span>
  (kg de CO2 eq, además del C02 se incluyen el CH4 y el N20)
 </span>
</footer> -->

<footer class="footer">
  <p>&copy; 2025 RAGE. Todos los derechos reservados.</p>
  <p>{{"footerTitle" | translate}}</p>
  <p>
      <a href="/aviso-legal">Aviso Legal</a> |
      <a href="/ayuda">Ayuda</a> |
      <a href="/sobre-nosotros">Sobre Nosotros</a>
  </p>
<!--   <p>
    <button mat-menu-item (click)="openDialog('LA HUELLA DE CARBONO','La huella de carbono identifica la cantidad de emisiones de GEI que son liberadas a la atmósfera como   consecuencia del desarrollo de cualquier actividad; permite identificar todas las fuentes de emisiones de   GEI y establecer a partir de este conocimiento, medidas de reducción efectivas.')">
      <mat-icon style="color: #ff9310;">info</mat-icon>
      </button>
  </p> -->
</footer>
