<mat-toolbar color="primary">
  <span><button mat-menu-item (click)="openDialog('LA HUELLA DE CARBONO','La huella de carbono identifica la cantidad de emisiones de GEI que son liberadas a la atmósfera como   consecuencia del desarrollo de cualquier actividad; permite identificar todas las fuentes de emisiones de   GEI y establecer a partir de este conocimiento, medidas de reducción efectivas.')">
  © 2025 {{"footerTitle" | translate}}<mat-icon style="color: #ff9310;">info</mat-icon></button></span>- Huella de carbono = Dato Actividad x Factor Emisión (kg de CO2 eq, además del C0<sub>2</sub> se incluyen el CH<sub>4</sub> y el N<sub>2</sub>0)
</mat-toolbar>
