<footer ngClass="footer" aria-label="Pie de página de la aplicación RAGE">
  <p>&copy; 2025 RAGE. {{"allRightsReserved" | translate}}</p>
  
  <p (click)="goHome()" aria-label="Volver a la página de inicio">{{"footerTitle" | translate}}</p>
  
  <p>
      <a href="/aviso-legal" aria-label="Aviso legal">{{"legalNotice" | translate}}</a> |
      <a href="/ayuda" aria-label="Centro de ayuda">{{"help" | translate}}</a> |
      <a href="/sobre-nosotros" aria-label="Información sobre nosotros">{{"aboutUs" | translate}}</a>
  </p>
  
  <p aria-label="Usuario actual">
    <mat-icon>person</mat-icon><br>{{userName}} {{role}}
  </p>
  
  <p aria-label="Información de contacto">
   <mat-icon>contact_mail</mat-icon><br>
    <a href="mailto:[email protected]" aria-label="Enviar un correo electrónico a soporte">[email protected]</a>
  </p>
</footer>
