
  <header>
    <h1>{{'ranquing' | translate}}</h1>
    2023
  </header>
  <div class="ranking-container">
  <section *ngFor="let total of totales" >
    <mat-card class="ranquing-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title ngClass="card-title">{{ total.productionCenter }}</mat-card-title>
          
          <img *ngIf="total.best" mat-card-sm-image src="../../../assets/first.jpg" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content ngClass="total-value">
        <mat-card-subtitle>Total data activity registers:</mat-card-subtitle>
        {{ total.totalRecords }} 
      </mat-card-content>
    </mat-card>
  </section>
</div>
