.ranking-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header {
  text-align: center;
  color: #2d3748;
  font-size: 2rem;
  margin-bottom: 20px;
}

.ranquing-card {
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }

  .mat-card-header {
    background-color: #edf2f7;
    border-radius: 8px 8px 0 0;
    padding: 10px;

    mat-card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: #2c5282;
    }

    mat-card-subtitle {
      color: #718096;
    }
  }

  .mat-card-content {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2d3748;
    text-align: center;
  }

  img {
    width: 80px;
    height: auto;
  }
}

.total-value {
  font-size: 3rem;
  font-weight: bolder;
}