
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header, app-footer {
  flex-shrink: 0;
  max-height: 10vh;
  border: 1px solid red;
}

app-body {
  flex-grow: 1;
  overflow: auto;
}