mat-toolbar-row {
  display: inline-grid;
  grid-template-columns: "appmenu headertitle logo";
  justify-items: space-between;
  /* border: 1px solid red; */
 /*  height: auto; */
}

.app-menu {
  grid-area: appmenu;
  border: 1px solid yellow;
}

.headerTitle {
  grid-area: headertitle;
  /* border: 1px solid blue; */
}

.logo {
  grid-area: logo;
  /* border: 1px solid rgb(206, 9, 156); */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  mat-toolbar {
    grid-template-areas: "appmenu logo";
  }

  mat-toolbar h1 {
    display: none;
  }
}