.mat-toolbar-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: space-between;
 
  border: 1px solid red;
  height: 200px;
}

.app-menu {
  justify-self: start;
  border: 1px solid yellow;
}

.headerTitle {
 /*  justify-self: center;
  text-align: center; */
  border: 1px solid blue;
}

.logo {
  justify-self: end;
  border: 1px solid orange;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  mat-toolbar {
    grid-template-areas: "logo menu";
  }

  mat-toolbar h1 {
    display: none;
  }
}