mat-toolbar-row {
  justify-content: space-evenly;
}

.logo {
  width: var(--mat-toolbar-standard-height);
}

mat-icon{
scale: 2;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  mat-toolbar {
    grid-template-areas: "appmenu logo";
  }

  mat-toolbar h1 {
    display: none;
  }
}