<mat-toolbar color="primary">
  <button mat-button [cdkMenuTriggerFor]="menu" ngClass="app-menu"><span>RAGE</span></button>
  <h1>{{'rageTitle' | translate}}. {{'HELLO' | translate}}</h1>
</mat-toolbar>
  

<ng-template #menu>
  <div ngClass="example-menu" cdkMenu>
    <button
        cdkMenuItemCheckbox
        ngClass="example-menu-item"
        [cdkMenuItemChecked]="bold"
        (cdkMenuItemTriggered)="bold = !bold">
      {{'fixedInstallations' | translate}}
    </button>
    <button
        cdkMenuItemCheckbox
        ngClass="example-menu-item"
        [cdkMenuItemChecked]="italic"
        (cdkMenuItemTriggered)="italic = !italic">
        {{'vehiclesMachines' | translate}}
    </button>
    <div cdkMenuGroup>
      <button cdkMenuItemRadio ngClass="example-menu-item">{{'fugitiveEmissions' | translate}}</button>
      <button cdkMenuItemRadio ngClass="example-menu-item">{{'processEmissions' | translate}}</button>
      <button cdkMenuItemRadio ngClass="example-menu-item">{{'AdditionalInformation' | translate}}</button>
      <button cdkMenuItemRadio ngClass="example-menu-item">{{'ElectricityAndOtherEnergies' | translate}}</button>
      <button cdkMenuItemRadio ngClass="example-menu-item">{{'FinalReport' | translate}}</button>
      <button cdkMenuItemRadio ngClass="example-menu-item">{{'EmisionFactors' | translate}}</button>
      <hr>
      <button cdkMenuItemRadio ngClass="example-menu-item">{{'OrganizationGeneralData' | translate}}</button>
    </div>
    <hr />
    <button cdkMenuItem ngClass="example-menu-item" (cdkMenuItemTriggered)="reset()">Logout</button>
    <hr>
    <button mat-raised-button (click)="switchLanguage('en')">English</button>
    <button mat-raised-button (click)="switchLanguage('es')">Español</button>
  </div>
</ng-template>
