<header>
  <mat-toolbar>
    <button mat-icon-button aria-label="Menu" [matMenuTriggerFor]="mainMenu" accesskey="m" tabindex="0"><mat-icon>menu</mat-icon></button>
    <span ngClass="header-title">{{'rageTitle' | translate}}</span>
    <span ngClass="header-title-mobile">{{'rageTitleShort' | translate}}</span>
    <img src="../../../assets/logo-huella.jpeg" alt="Logotipo de la aplicación RAGE" title="Ir al inicio de la app" ngClass="header-logo" (click)="goHome()" accesskey="l" tabindex="1">
  </mat-toolbar>
</header>
<mat-menu #mainMenu="matMenu">
  <button mat-menu-item ngClass="rage-menu-item" routerLink="/dashboard">{{'dashboard' | translate}}</button>
  <hr>
  <button mat-menu-item ngClass="rage-menu-item" routerLink="/ranquing">{{'ranquing' | translate}}</button>
  <hr>
  <section *ngIf="role === 'User'">
    <button mat-menu-item [routerLink]="['/scope', 'one']">{{'scope1' | translate}}</button>
    <button mat-menu-item [routerLink]="['/scope', 'two']">{{'scope2' | translate}}</button>
  </section>
  <section *ngIf="role === 'Admin'">
    <button mat-menu-item ngClass="rage-menu-item" routerLink="/user-management">{{'userManagement' | translate}}</button>
    <button mat-menu-item ngClass="rage-menu-item" routerLink="/organ-gen-data">{{'organizationGeneralData' | translate}}</button>
    <hr>
    <button mat-menu-item [matMenuTriggerFor]="emissions" ngClass="rage-menu-item">{{'emissionFactors' | translate}}</button>
  </section>
  <hr>
  <button mat-menu-item (click)="switchLanguage('en')">English</button>
  <button mat-menu-item (click)="switchLanguage('ca')">Català</button>
  <button mat-menu-item (click)="switchLanguage('es')">Castellano</button>
  <hr>
  <button  mat-menu-item ngClass="rage-menu-item" (click)="logout()"> <span *ngIf="isExpiredToken">{{'login' | translate}}</span> <span *ngIf="!isExpiredToken">{{'logout' | translate}}</span></button>

</mat-menu>

<mat-menu #emissions="matMenu">
  <button mat-menu-item routerLink="fuel-emission-maintenance">{{'fuelEmissions' | translate}}</button>
  <button mat-menu-item routerLink="fuel-emission-transport-maintenance">{{'fuelEmissionsTransportRailSeaAir' | translate}}</button>
  <button mat-menu-item routerLink="electrical-emission-maintenance">{{'electricalEmissions' | translate}}</button>
  <button mat-menu-item routerLink="fugitive-emission-maintenance">{{'fugitiveEmissions' | translate}}</button>
</mat-menu>
