<mat-card>
  <h2>Gestión de Usuarios</h2>
  <form [formGroup]="userForm" (ngSubmit)="editingIndex === null ? addUser() : updateUser()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol">
        <mat-option value="Admin">Administrador</mat-option>
        <mat-option value="User">Usuario</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" ngClass="submitBtn" [disabled]="userForm.invalid">
      {{ editingIndex === null ? 'Añadir Usuario' : 'Actualizar Usuario' }}
    </button>
  </form>

  <mat-list>
    <mat-list-item *ngFor="let user of users; let i = index">
      <span [innerHTML]="user.nombre"></span>
      <span [innerHTML]="user.email"></span>
      <span [innerHTML]="user.rol"></span>
      <button mat-button color="accent" (click)="editUser(i)">Editar</button>
      <button mat-button color="warn" (click)="deleteUser(i)">Eliminar</button>
    </mat-list-item>
  </mat-list>
</mat-card>
