<mat-card aria-label="Gestión de Usuarios">
  <h2>{{'userManagement' | translate}}</h2>
  <form [formGroup]="userForm" (ngSubmit)="editingIndex === null ? addUser() : updateUser()" aria-label="Formulario de gestión de usuarios">
    
    <mat-form-field appearance="fill">
      <mat-label>{{'productionCenter' | translate}}</mat-label>
      <input matInput formControlName="nombre" aria-label="Ingrese el nombre del centro de producción" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" aria-label="Ingrese el correo electrónico del usuario" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol" aria-label="Seleccione el rol del usuario">
        <mat-option value="Admin" aria-label="Administrador">Administrador</mat-option>
        <mat-option value="User" aria-label="Usuario">Usuario</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" ngClass="submitBtn" [disabled]="userForm.invalid"
      aria-label="'Añadir nuevo usuario' o 'Actualizar información del usuario'">
      {{ editingIndex === null ? 'Añadir Usuario' : 'Actualizar Usuario' }}
    </button>
  </form>

  <section aria-label="Tabla de usuarios registrados">
    <app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>
  </section>
</mat-card>

