<mat-card>
<form [formGroup]="emisionesForm" (ngSubmit)="onSubmit()">
  <h3>Formulario de Emisiones</h3>
  
  <mat-form-field>
    <mat-label>Año de cálculo</mat-label>
    <input matInput formControlName="calculationYear">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Centro de producción</mat-label>
    <input matInput formControlName="productionCenter" placeholder="Ej. Edificio 1" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre del gas o de la mezcla</mat-label>
    <mat-select formControlName="nombre_gas_mezcla" placeholder="Introduce el nombre del gas o mezcla" (selectionChange)="setPCAAndChemicalFormula()">
      <mat-option *ngFor="let gas of gasTypes" [value]="gas">{{ gas.Nombre }}</mat-option>
    </mat-select>
  </mat-form-field>
  <section>
    <mat-form-field>
      <mat-label>Fórmula química</mat-label>
      <input matInput formControlName="formulaQuimica" placeholder="Ej. HFC-41" />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>PCA</mat-label>
      <input matInput type="number" formControlName="pca" placeholder="Ej. 1.0" />
    </mat-form-field>
  </section>
  <section>
    <mat-form-field>
      <mat-label>Capacidad del equipo (kg)</mat-label>
      <input matInput type="number" formControlName="capacidad_equipo" placeholder="Ej. 10.5" />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Recarga del equipo (kg)</mat-label>
      <input matInput type="number" formControlName="recarga_equipo" (change)="equipmentRecharge()" placeholder="Ej. 5.0" />
    </mat-form-field>
  </section>
  <mat-form-field>
    <mat-label>Emisiones A kg CO<sub>2</sub>e</mat-label>
    <input matInput type="number" formControlName="emisionesCO2e" />
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" [disabled]="emisionesForm.invalid">Enviar</button>
</form>
</mat-card>
<app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>

