  <h1><button mat-menu-item (click)="openDialog(1)"><mat-icon style="color: #0a470d;">info</mat-icon>{{"scope1" | translate}}</button> </h1>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selectedTabIndexscope1" (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="{{'fixedInstallationsFuelConsumption' | translate}}">
      <button mat-menu-item (click)="openDialog(2)"><mat-icon style="color: #ff9310;">info</mat-icon>{{"fixedInstallationsFuelConsumption" | translate}}</button>
      <app-fixed-installation [activityYear]="selectedActivityYear" [productionCenter]="productionCenter"></app-fixed-installation>
    </mat-tab>
   <!--  <mat-tab label="{{'roadTransport'  | translate}}">
      <button mat-menu-item (click)="openDialog('ACLARACIÓN', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxx')"> 
      <mat-icon style="color: #ff9310;">info</mat-icon>{{"roadTransport" | translate}}</button>
      <app-vehicles></app-vehicles>
    </mat-tab>
    <mat-tab label="{{'railSeaAirTransport'  | translate}}">
      <button mat-menu-item (click)="openDialog('ACLARACIÓN', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxx')"> 
      <mat-icon style="color: #ff9310;">info</mat-icon>{{"railSeaAirTransport" | translate}}</button>
      <app-rail-sea-airtransport></app-rail-sea-airtransport>
    </mat-tab>
    <mat-tab label="{{'fuelConsumptionMachinery'  | translate}}">
      <button mat-menu-item (click)="openDialog('ACLARACIÓN', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxx')"> 
      <mat-icon style="color: #ff9310;">info</mat-icon>{{"fuelConsumptionMachinery" | translate}}</button>
      <app-machinery></app-machinery>
    </mat-tab>
    <mat-tab label="{{'fugitiveEmissions'  | translate}}">
      <button mat-menu-item (click)="openDialog('ACLARACIÓN', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxx')"> 
        <mat-icon style="color: #ff9310;">info</mat-icon>{{"fugitiveEmissions" | translate}}</button>
        <app-fugitive-gases></app-fugitive-gases>
    </mat-tab> -->
  </mat-tab-group>

