'<h1><button mat-menu-item (click) = "openDialog('ALCANCE 1','scopeOneEmissions')">
  <mat-icon style="color: #0a470d;">info</mat-icon>{{"consumptions" | translate}}</button> </h1>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="{{'fixedInstallationsFuelConsumption' | translate}}">
    <button mat-menu-item (click)="openDialog('ACLARACIÓN', 'Instalaciones fijas no sujetas a las obligaciones establecidas en la Ley 1/2005, de 9 de marzo ')">
      <mat-icon style="color: #ff9310;">info</mat-icon>{{"fixedInstallationsFuelConsumption" | translate}}</button> 
    <app-fixed-installation></app-fixed-installation>
  </mat-tab>
  <mat-tab label="{{'fuelConsumptionVeniclesMachinery'  | translate}}">
    {{'fuelConsumptionVeniclesMachinery' | translate}}
  </mat-tab>
  <mat-tab label="{{'fugitiveEmissions'  | translate}}">
    {{'fugitiveEmissions' | translate}}
  </mat-tab>
  <mat-tab label="{{'processEmissions'  | translate}}">
    {{'processEmissions' | translate}}
  </mat-tab>
  <mat-tab label="{{'fugasgasesfluorados'  | translate}}">
    {{'fugasgasesfluorados' | translate}}
  </mat-tab>
  <mat-tab label="{{'otrosgases'  | translate}}">
    {{'otrosgases' | translate}}
  </mat-tab>
</mat-tab-group>
