<mat-card>
<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
  <section ngClass="type-fuel-quantity">
  <mat-form-field appearance="fill">
    <mat-label>Categoría de vehículo</mat-label>
    <mat-select formControlName="vehicleCategory" (selectionChange)="setFuelTypes()">
      <mat-option *ngFor="let category of vehicleCategories" [value]="category">{{ category.Categoria }}</mat-option>
    </mat-select>
    <mat-error *ngIf="vehicleForm.get('vehicleCategory')?.invalid">Campo obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo de Combustible</mat-label>
    <mat-select formControlName="fuelType" (selectionChange)="setEmissionFactors()">
      <mat-option *ngFor="let fuel of fuelTypes" [value]="fuel">{{ fuel.Combustible }}</mat-option>
    </mat-select>
    <mat-error *ngIf="vehicleForm.get('fuelType')?.invalid">Campo obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cantidad (ud)</mat-label>
    <input matInput formControlName="quantity" type="number" (change)="onQuantityChange()">
    <mat-error *ngIf="vehicleForm.get('quantity')?.invalid">Campo obligatorio y debe ser un número</mat-error>
  </mat-form-field>
</section>
<section ngClass="emissions">
  <section formGroupName="defaultEmissionFactor">
    <h3>Factores de Emisión por gases</h3>
    <mat-form-field appearance="fill">
      <mat-label>Factor de emisión (kg CO2/ud)</mat-label>
      <input matInput formControlName="co2" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Factor de emisión (g CH4/ud)</mat-label>
      <input matInput formControlName="ch4" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Factor de emisión (g N2O/ud)</mat-label>
      <input matInput formControlName="n2o" type="number">
    </mat-form-field>
  </section>

  <section formGroupName="partialEmissions">
    <h3>Emisiones Parciales</h3>
    <mat-form-field appearance="fill">
      <mat-label>Emisiones parciales (kg CO2)</mat-label>
      <input matInput formControlName="co2">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Emisiones parciales (g CH4)</mat-label>
      <input matInput formControlName="ch4">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Emisiones parciales (g N2O)</mat-label>
      <input matInput formControlName="n2o">
    </mat-form-field>
  </section>
</section>

<h3>Emisiones Totales (tnCO<sub>2</sub>eq) [CO<sub>2</sub>eq: CO<sub>2</sub>+CH<sub>4</sub>+N<sub>2</sub>O]</h3>
  <mat-form-field appearance="fill">
    <input matInput formControlName="totalEmissions">
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">Registrar</button>
</form>

<app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>
</mat-card>