<mat-card>
<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Periodo factura</mat-label>
    <mat-select formControlName="periodoFactura">
      <mat-option value="01">Enero</mat-option>
      <mat-option value="02">Febrero</mat-option>
      <mat-option value="03">Marzo</mat-option>
      <mat-option value="04">Abril</mat-option>
      <mat-option value="05">Mayo</mat-option>
      <mat-option value="06">Junio</mat-option>
      <mat-option value="07">Julio</mat-option>
      <mat-option value="08">Agosto</mat-option>
      <mat-option value="09">Setiembre</mat-option>
      <mat-option value="10">Octubre</mat-option>
      <mat-option value="11">Noviembre</mat-option>
      <mat-option value="12">Diciembre</mat-option>
    </mat-select>
  </mat-form-field>
  <section ngClass="type-fuel-quantity">
  <mat-form-field appearance="fill">
    <mat-label>Categoría de vehículo</mat-label>
    <mat-select formControlName="equipmentType" (selectionChange)="setFuelTypes()">
      <mat-option *ngFor="let category of vehicleCategories" [value]="category">{{ category.Categoria }}</mat-option>
    </mat-select>
    <mat-error *ngIf="vehicleForm.get('equipmentType')?.invalid">Campo obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Combustible o lubricante</mat-label>
    <mat-select formControlName="fuelType" (selectionChange)="setEmissionFactors()">
      <mat-option *ngFor="let fuel of fuelTypes" [value]="fuel">{{ fuel.FuelType }}</mat-option>
    </mat-select>
    <mat-error *ngIf="vehicleForm.get('fuelType')?.invalid">Campo obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Dato de actividad (ud)</mat-label>
    <input matInput formControlName="quantity" type="number" (change)="onQuantityChange()">
    <mat-error *ngIf="vehicleForm.get('quantity')?.invalid">Campo obligatorio y debe ser un número</mat-error>
  </mat-form-field>
</section>
<h3>Factores de Emisión por gases</h3>
  <section formGroupName="defaultEmissionFactor" ngClass="factor-group">
    <mat-form-field appearance="fill">
      <mat-label>[kg CO2/ud]</mat-label>
      <input matInput formControlName="co2" ngClass="gas-emission">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>[g CH4/ud]</mat-label>
      <input matInput formControlName="ch4" ngClass="gas-emission">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>[g N2O/ud]</mat-label>
      <input matInput formControlName="n2o" ngClass="gas-emission">
    </mat-form-field>
  </section>

  <h3>Emisiones Parciales</h3>
  <section formGroupName="partialEmissions" ngClass="emissions-group">
    <mat-form-field appearance="fill">
      <mat-label>Emisiones parciales (kg CO2)</mat-label>
      <input matInput formControlName="co2" ngClass="gas-emission">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Emisiones parciales (g CH4)</mat-label>
      <input matInput formControlName="ch4" ngClass="gas-emission">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Emisiones parciales (g N2O)</mat-label>
      <input matInput formControlName="n2o" ngClass="gas-emission">
    </mat-form-field>
  </section>

  <h3>Emisiones Totales (tnCO<sub>2</sub>eq) [CO<sub>2</sub>eq: CO<sub>2</sub>+CH<sub>4</sub>+N<sub>2</sub>O]</h3>
  <mat-form-field>
    <mat-label>(tnCO<sub>2</sub>eq)</mat-label>
    <input matInput formControlName="totalEmissions" ngClass="gas-emission tnCo2eq">
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit" [disabled]="!vehicleForm.valid">Registrar</button>
</form>
<app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>
</mat-card>