<mat-card aria-label="Formulario de registro de consumo de vehículos">
  <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()" aria-label="Formulario para ingresar datos de consumo de vehículos">

    <mat-form-field appearance="fill">
      <mat-label>{{"period" | translate}}</mat-label>
      <mat-select formControlName="periodoFactura" aria-label="Seleccione el periodo de la factura">
        <mat-option value="M01" aria-label="Enero">{{"january" | translate}}</mat-option>
        <mat-option value="M02" aria-label="Febrero">{{"february" | translate}}</mat-option>
        <mat-option value="M03" aria-label="Marzo">{{"march" | translate}}</mat-option>
        <mat-option value="M04" aria-label="Abril">{{"april" | translate}}</mat-option>
        <mat-option value="M05" aria-label="Mayo">{{"may" | translate}}</mat-option>
        <mat-option value="M06" aria-label="Junio">{{"june" | translate}}</mat-option>
        <mat-option value="M07" aria-label="Julio">{{"july" | translate}}</mat-option>
        <mat-option value="M08" aria-label="Agosto">{{"august" | translate}}</mat-option>
        <mat-option value="M09" aria-label="Setiembre">{{"september" | translate}}</mat-option>
        <mat-option value="M10" aria-label="Octubre">{{"october" | translate}}</mat-option>
        <mat-option value="M11" aria-label="Noviembre">{{"november" | translate}}</mat-option>
        <mat-option value="M12" aria-label="Diciembre">{{"december" | translate}}</mat-option>
      </mat-select>
    </mat-form-field>

    <section ngClass="type-fuel-quantity" aria-label="Categoría de vehículos y selección de combustible">
      <mat-form-field appearance="fill">
        <mat-label>Categoría de vehículo{{"vehicleCategory" | translate}}</mat-label>
        <mat-select formControlName="equipmentType" (selectionChange)="setFuelTypes()" aria-label="Seleccione la categoría de vehículo">
          <mat-option *ngFor="let category of vehicleCategories" [value]="category" aria-label="Categoría de vehículo">{{ category.Categoria }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Combustible o lubricante{{"fuelOrLubricant" | translate}}</mat-label>
        <mat-select formControlName="fuelType" (selectionChange)="setEmissionFactors()" aria-label="Seleccione el tipo de combustible">
          <mat-option *ngFor="let fuel of fuelTypes" [value]="fuel" aria-label="Tipo de combustible">{{ fuel.FuelType }}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <button mat-raised-button color="accent" type="submit" [disabled]="!vehicleForm.valid" aria-label="Enviar formulario de consumo de vehículos">
      {{"register" | translate}}
    </button>
  </form>

  <section aria-label="Tabla de consumo de vehículos">
    <app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>
  </section>
</mat-card>
