@use '@angular/material' as mat;
@include mat.core();

$primary-palette: mat.define-palette(mat.$green-palette);
$accent-palette: mat.define-palette(mat.$purple-palette, A200, A100, A400);

$theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
  )
));

@include mat.all-component-themes($theme);

html, body { height: 100%; }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-size: 1rem; 
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

img {
  max-width: 50%;
  height: auto;
}

body, html {
  margin: 0;
  padding: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-footer {
  text-align: center;
}

mat-card {
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Ocupa toda la altura de la pantalla
}


.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  mat-form-field {
    width: 100%;
  }

  button {
    align-self: center;
    width: 50%;
  }
}

app-data-table {
  margin-top: 2rem;
}

.error-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  color: #d32f2f; // Color rojo para indicar error
  background-color: #ffe6e6; // Fondo rojo suave
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid #d32f2f;
  font-size: .8rem;
  font-weight: lighter;
  
  ul {
    padding-left: 1rem;
    list-style-type: disc;
  }

  li {
    margin-bottom: 5px;
  }
}

