<mat-card>
  <form [formGroup]="emissionsForm" (ngSubmit)="onSubmit()">
   
     
      <section ngClass="type-fuel-quantity">
        <!-- Tipo de maquinaria -->
        <mat-form-field appearance="fill">
          <mat-label>Tipo de maquinaria</mat-label>
          <input matInput formControlName="machineryType" />
        </mat-form-field>
  
        <!-- Tipo de Combustible o lubricante -->
        <mat-form-field appearance="fill">
          <mat-label>Tipo de Combustible o lubricante</mat-label>
          <input matInput formControlName="fuelType" />
        </mat-form-field>
  
        <!-- Cantidad (ud) -->
        <mat-form-field appearance="fill">
          <mat-label>Cantidad (ud)</mat-label>
          <input matInput type="number" formControlName="quantity" (input)="calculateEmissions()" />
        </mat-form-field>
      </section>

      <!-- Factores de emisión por defecto -->
      <div formGroupName="defaultEmissionFactor" class="factor-group">
        <mat-form-field appearance="fill">
          <mat-label>kg CO₂/ud</mat-label>
          <input matInput type="number" formControlName="co2" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g CH₄/ud</mat-label>
          <input matInput type="number" formControlName="ch4" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g N₂O/ud</mat-label>
          <input matInput type="number" formControlName="n2o" />
        </mat-form-field>
      </div>
  
      <!-- Emisiones parciales -->
      <div formGroupName="partialEmissions" class="emissions-group">
        <mat-form-field appearance="fill">
          <mat-label>kg CO₂</mat-label>
          <input matInput formControlName="co2"  />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g CH₄</mat-label>
          <input matInput formControlName="ch4"  />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>g N₂O</mat-label>
          <input matInput formControlName="n2o"  />
        </mat-form-field>
      </div>
  
      <!-- Emisiones totales -->
      <mat-form-field appearance="fill">
        <mat-label>Emisiones totales C (kg CO₂e)</mat-label>
        <input matInput formControlName="totalEmissions"  />
      </mat-form-field>
  
    <!-- Botones -->
    <div class="form-actions">
      <button mat-raised-button color="primary" type="button" (click)="addRow()">Agregar Fila</button>
      <button mat-raised-button color="accent" type="submit">Enviar</button>
    </div>
  </form>
  
</mat-card>
