<mat-card ngClass="home-card" appearance="outlined">
  <mat-card-header>
    <section mat-card-avatar ngClass="info-header-tooltip">
      <button mat-menu-item (click)="openDialog(9999)">
        <mat-icon style="color: #ff9310;">info</mat-icon>
      </button>
    </section>
    <mat-card-title>CALCULADORA DE
      HUELLA DE CARBONO DE ORGANIZACIÓN</mat-card-title>
    <mat-card-subtitle>
      <h2>EMISIONES DIRECTAS</h2>
      <h2>EMISIONES INDIRECTAS POR LA COMPRA DE ELECTRICIDAD Y DE OTRAS ENERGÍAS</h2>
    </mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <article [innerHTML]="homeIntro">
    </article>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="login">{{'login' | translate}}</button>
    <button mat-button routerLink="sign-up">{{'signUp' | translate}}</button>
  </mat-card-actions>
</mat-card>