<mat-card ngClass="home-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar ngClass="info-header-tooltip"><button mat-menu-item (click)="openDialog()"><mat-icon style="color: #ff9310;">info</mat-icon></button></div>
    <mat-card-title>CALCULADORA DE
      HUELLA DE CARBONO
    DE ORGANIZACIÓN</mat-card-title>
    <mat-card-subtitle><h2>EMISIONES DIRECTAS
      (ALCANCE 1)</h2>
      <h2>E INDIRECTAS POR LA COMPRA DE
      ELECTRICIDAD Y OTRAS ENERGÍAS
      (ALCANCE 2)</h2>
    </mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
      La calculadora de huella de carbono está dirigida a cualquier entidad que desee calcular la huella de
      carbono de su organización en sus alcances 1 y 2, siendo especialmente indicada para las pequeñas y
      medianas empresas que no cuenten con emisiones de proceso (emisiones de GEI distintas a las de
      combustión, producidas como resultado de reacciones, intencionadas o no, entre sustancias, o su
      transformación).
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="login">Log-in</button>
    <button mat-button routerLink="sign-up">Sign-up</button>
  </mat-card-actions>
</mat-card>