<mat-card ngClass="home-card" appearance="outlined" aria-label="Calculadora de huella de carbono de una organización">
  <mat-card-header>
    <section mat-card-avatar ngClass="info-header-tooltip" aria-label="Información sobre la calculadora">
      <button mat-menu-item (click)="openDialog(9999)" aria-label="Abrir información adicional">
        <mat-icon style="color: #ff9310;">info</mat-icon>
      </button>
    </section>
    <mat-card-title aria-label="Título de la calculadora">{{'footPrintCalculator' | translate}}</mat-card-title>
    <mat-card-subtitle>
      <h2 aria-label="Sección de emisiones directas">{{'scope1Home' | translate}}</h2>
      <h2 aria-label="Sección de emisiones indirectas">{{'scope2Home' | translate}}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <article  [innerHTML]="'homeIntro' | translate" aria-label="Introducción a la calculadora"></article>
    <article [innerHTML]="'sectionText' | translate" aria-label="Descripción de la sección"></article>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-button routerLink="login" aria-label="Iniciar sesión">{{'login' | translate}}</button>
    <button mat-button routerLink="sign-up" aria-label="Registrarse">{{'signUp' | translate}}</button>
  </mat-card-actions>
</mat-card>
