<mat-card>
<form [formGroup]="emisionesForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Periodo factura</mat-label>
    <mat-select formControlName="periodoFactura">
      <mat-option value="01">Enero</mat-option>
      <mat-option value="02">Febrero</mat-option>
      <mat-option value="03">Marzo</mat-option>
      <mat-option value="04">Abril</mat-option>
      <mat-option value="05">Mayo</mat-option>
      <mat-option value="06">Junio</mat-option>
      <mat-option value="07">Julio</mat-option>
      <mat-option value="08">Agosto</mat-option>
      <mat-option value="09">Setiembre</mat-option>
      <mat-option value="10">Octubre</mat-option>
      <mat-option value="11">Noviembre</mat-option>
      <mat-option value="12">Diciembre</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nombre del gas o de la mezcla</mat-label>
    <mat-select formControlName="nombre_gas_mezcla" placeholder="Introduce el nombre del gas o mezcla" (selectionChange)="setPCAAndChemicalFormula()">
      <mat-option *ngFor="let gas of gasTypes" [value]="gas">{{ gas.Nombre }}</mat-option>
    </mat-select>
  </mat-form-field>
  <section>
    <mat-form-field>
      <mat-label>Fórmula química</mat-label>
      <input matInput formControlName="formulaQuimica" ngClass="gas-emission"/>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>PCA</mat-label>
      <input matInput formControlName="pca" ngClass="gas-emission"/>
    </mat-form-field>
  </section>
  <section>
    <mat-form-field>
      <mat-label>Capacidad del equipo (kg)</mat-label>
      <input matInput type="number" formControlName="capacidad_equipo" placeholder="Ej. 10.5" />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Recarga del equipo (kg)</mat-label>
      <input matInput type="number" formControlName="recarga_equipo" (change)="equipmentRecharge()" placeholder="Ej. 5.0" />
    </mat-form-field>
  </section>
  <h3>Emisiones Totales (tnCO<sub>2</sub>eq) [CO<sub>2</sub>eq: CO<sub>2</sub>+CH<sub>4</sub>+N<sub>2</sub>O]</h3>
  <mat-form-field>
    <mat-label>(tnCO<sub>2</sub>eq)</mat-label>
    <input matInput formControlName="emisionesCO2e" ngClass="gas-emission tnCo2eq"/>
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" [disabled]="emisionesForm.invalid">Registrar</button>
</form>
<app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>
</mat-card>