<mat-card>
  <mat-card-title>Register</mat-card-title>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required>
      <mat-error *ngIf="registerForm?.get('email')?.invalid">Email is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required>
      <mat-error *ngIf="registerForm?.get('password')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="registerForm?.get('password')?.hasError('minlength')">Min length is 8 chars</mat-error>
      
    <mat-error *ngIf="registerForm?.get('password')?.hasError('password', 'uppercase')">Password must contain at least one uppercase letter</mat-error>
    <mat-error *ngIf="registerForm?.get('password')?.hasError('password', 'number')">Password must contain at least one number</mat-error>
    <mat-error *ngIf="registerForm?.get('password')?.hasError('password', 'specialCharacter')">Password must contain at least one special character</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Retype Password</mat-label>
      <input matInput formControlName="retypePassword" type="password" required>
      <mat-error *ngIf="registerForm?.get('retypePassword')?.hasError('required')">Retype Password is required</mat-error>
      <mat-error *ngIf="registerForm?.get('retypePassword')?.hasError('minlength')">Min length is 8 chars</mat-error>
      <mat-error *ngIf="registerForm?.get('retypePassword')?.errors?.['passwordMismatch'] && registerForm.get('retypePassword')?.touched">Passwords do not match!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>NIF</mat-label>
      <input matInput formControlName="nif" minlength="9" maxlength="9">
      <mat-error *ngIf="registerForm?.get('nif')?.invalid">NIF is required</mat-error>
      <mat-error *ngIf="registerForm?.get('nif')?.hasError('minlength')">Min length is 9 chars</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre Empresa</mat-label>
      <input matInput formControlName="companyName" >
      <mat-error *ngIf="registerForm?.get('companyName')?.invalid">Nombre Empresa is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Código Postal</mat-label>
      <input matInput formControlName="postalCode" minlength="5" maxlength="5">
      <mat-error *ngIf="registerForm?.get('postalCode')?.invalid">Zip Code is required</mat-error>
      <mat-error *ngIf="registerForm?.get('postalCode')?.hasError('minlength')">Min length is 5 chars</mat-error>

    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</mat-card>
