<mat-card>
  <form [formGroup]="heatSteamColdAirForm" (ngSubmit)="onSubmit()" class="form-container">
  
    <!-- Tipo de energía -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Tipo de energía</mat-label>
        <mat-select formControlName="energyType">
          <mat-option value="calor">Calor</mat-option>
          <mat-option value="vapor">Vapor</mat-option>
          <mat-option value="frio">Frío</mat-option>
          <mat-option value="aire-comprimido">Aire comprimido</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <!-- Factor de emisión -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Factor de emisión (kg CO2e/kWh)</mat-label>
        <input matInput type="number" formControlName="emissionFactor" (input)="calculateEmissions()">
      </mat-form-field>
    </div>

    <!-- Consumo -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Dato de actividad (kWh)</mat-label>
          <input matInput type="number" formControlName="consumption" (input)="calculateEmissions()">
      </mat-form-field>
    </div>
  
    <!-- Emisiones -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Emisiones Totales (tnCO<sub>2</sub>eq) [CO<sub>2</sub>eq: CO<sub>2</sub>+CH<sub>4</sub>+N<sub>2</sub>O]</mat-label>
        <input matInput formControlName="emissions">
      </mat-form-field>
    </div>
  
    <!-- Botones -->
    <div class="button-group">
      <button mat-raised-button color="accent" type="submit" [disabled]="heatSteamColdAirForm.invalid">Registrar</button>
    </div>
  </form>
  <app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-data-table>
</mat-card>
