<mat-card>
  <form [formGroup]="energyForm" (ngSubmit)="onSubmit()" class="form-container">
    <!-- Año de cálculo -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Año de cálculo</mat-label>
        <input matInput formControlName="calculationYear">
      </mat-form-field>
    </div>
  
    <!-- Centro de producción -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Centro de producción</mat-label>
        <input matInput formControlName="productionCenter">
      </mat-form-field>
    </div>
  
    <!-- Tipo de energía -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Tipo de energía</mat-label>
        <mat-select formControlName="energyType">
          <mat-option value="calor">Calor</mat-option>
          <mat-option value="vapor">Vapor</mat-option>
          <mat-option value="frio">Frío</mat-option>
          <mat-option value="aire-comprimido">Aire comprimido</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <!-- Factor de emisión -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Factor de emisión (kg CO2e/kWh)</mat-label>
        <input matInput type="number" formControlName="emissionFactor" (input)="calculateEmissions()">
      </mat-form-field>
    </div>

    <!-- Consumo -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Consumo (kWh)</mat-label>
          <input matInput type="number" formControlName="consumption" (input)="calculateEmissions()">
      </mat-form-field>
    </div>
  
    <!-- Emisiones -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Emisiones (kg CO2e)</mat-label>
        <input matInput formControlName="emissions">
      </mat-form-field>
    </div>
  
    <!-- Botones -->
    <div class="button-group">
      <button mat-raised-button color="accent" type="submit">Enviar</button>
    </div>
  </form>
  
</mat-card>
